@import "tailwindcss";

@keyframes soundwave {
  0%, 100% {
    height: 4px;
  }
  50% {
    height: 100%;
  }
}

/* Custom scrollbar behavior for the curated list */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
